:root {
  --sidebar-bg : #1E202C;
  --background-bg : #13141C;
  --main-text : #CDCDCD;
  --primary : #10578F;
  --primary-text : #393B4D;
  --secondary : #0E98FF;
  --secondary-text : #C8E2F8;
  --accent : #FCCC20;
}